/*разделение на блоки, задан обзий шрифт*/
.grid-container {
    display: grid;
    min-height: 100vh;
    background: #1C1C1C;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    grid-template-columns: 1fr;
    grid-template-rows: 108px 1fr auto;
    grid-template-areas: "header" "main" "footer";
}

/*класс для логотипа*/
.header_logo {
    grid-area: header;
    top: 80px;
    text-align: center;
    position: relative;
}


.grid {
    grid-area: main;
    position: relative;
    margin-top: 57px;
}

/*класс для выравнивания по центру строки поиска (не активно)*/
.grid__search div#search-box {
    text-align: center;
}

/*класс для самой строки ввода*/
.grid__search input{

    width: 628px;
    height: 36px;
    padding: 18px 53px 20px 60px;
    background: url("img/search_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-color: #1c1c1c;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    caret-color: #ffffff;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
    transition: 0.5s ease-in-out;
}


.grid__search input::placeholder {
    line-height: 36px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
}

/*кнопка закрыть*/
.grid__search input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url('img/close.png');
    cursor: pointer;
}

.grid__search input::-webkit-search-cancel-button:hover {
    content: url('img/close_light.png');
}

/*изменение search-box. когда активный режим*/
.grid__search-active input {
    width: 1280px;
    border-bottom: 2px solid #fdce25;

}

.grid__search-active div.history--not-active {
    display: flex;
}

.grid__search-active--more-history div.more-history--not-active {
    display: flex;
}

/*дизайн истории (самих блоков)*/
.grid__history-item {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    height: 36px;
    text-align: center;
    flex-grow: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px 6px;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 8px 8px 0;
    border-radius: 8px;
}

/*сетка для истории*/
.grid__history {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: content;
    margin: 15px 100px 0;
}

/*данный класс изначально делает историю невидимой*/
.more-history--not-active, .history--not-active {
    display: none;
}

.grid__history-item:hover {
    background: #FFFFFF;
    cursor: pointer;
}

/*изначально отсутвие результатов невидимо*/
.no-results__inactive {
    display: none;
}

/*появляется надпись об отсутвии результатов*/
.grid__no-results div.no-results__inactive {
    display: inline-block;
    grid-area: no-results;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 100px 100px 0;

    /*выключаются результаты из активного класса    */
}
.grid__no-results div.history--not-active {
    display: none;
}

/*результаты с картинками пока невидимы*/
.not_visible_result {
    display: none;
    grid-area: results;
}

/*показываем результаты при включении данного класса в main*/
.search_live div.results{
    display: block;
    position: absolute;
    margin: 184px 100px 0;
    grid-area: results;

}


.text-result {
    display: block;
    font-weight: 900;
    position: absolute;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 100px 100px 0;
}

.results {
    position: relative;
}

.results-pic {
    grid-area: results-pic;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.pic {
    width: 302px;
    height: 454px;
    border-radius: 8px;
}



/*Для подсвечивания и вывода информации о фильме при наведении на постер*/
.overlay {
    width: 302px;
    height: 454px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
    backdrop-filter: blur(2px);
    border-radius: 8px;


}

.information {
    display: flex;
    position: relative;
}

.info_pic {
    display: none;
}
div.information:hover div.info_pic {
    display: block;
    cursor: pointer;

}

.reaction {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    top: 280px;
    left: 20px;
    position: absolute;
}

.picture_for_icon {
    width: 24px;
    height: 24px;
}

.genge_pic {
    padding-top: 16px;
    position: relative;
}

.meta_pic {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.24);
    position: relative;
    margin-top: 16px;
    padding: 0 20px;
}

.name_pic {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    padding: 322px 20px 0;
    color: rgb(255, 255, 255);
}


/*Нет постера, но есть текст */

.item-content {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.24);

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    padding: 362px 20px 0px;
    color: rgba(255, 255, 255, 0.24);
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.24);
    position: relative;
    padding: 12px 20px 0px;

}

.date {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.24);
}



/*Это нет постера*/

.skeleton {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.24);

}
.two_lines {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 330px 36px 0 20px;


}

.line_long {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    width: 246px;
    height: 24px;
    position: relative;
}

.line_short {
    width: 156px;
    height: 24px;
    margin-top: 8px;
    background: rgba(255, 255, 255, 0.08);
    position: relative;
}


.scroll div#search-box {
    display: block;
    position: sticky;
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(4px);
    width: 1440px;
    top:0;
    z-index: 1;
    height: 74px;
}

.scroll input {
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(4px);
    width: 1520px;
    height: 74px;
    border-bottom: 2px solid #ffffff;
    padding: 18px 53px 20px 60px;
    background: url("img/search_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
}



/*подвал*/
.footer_content {
    grid-area: footer;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 665px;
    padding-top: 80px;
}
